body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.transacao-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transacao-table th, .transacao-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.transacao-table th {
    background-color: #4CAF50;
    color: white;
}


.add-tran {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center; /* Adicionei essa propriedade para garantir o texto centralizado */
}

.add-tran a.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    text-decoration: none;
    display: inline-block; /* Alterei de block para inline-block */
    border-radius: 5px;
    font-size: 24px;
    margin: 0 auto;
}


