/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo do corpo */
}

header {
    background-color: #24ad44; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 20px;
    text-align: center;
}

form {
    margin-top: 5px;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

.btn-geral {
    background-color: #28a745; /* Verde escuro */
    color: #fff; /* Cor do texto do botão */
}

.btn-geral:hover {
    background-color: #1f7031; /* Verde um pouco mais escuro ao passar o mouse */
    color: #fff;
}

.btn-excluir {
    background-color: #dc3545; /* Vermelho escuro para botão de exclusão */
    color: #fff; /* Cor do texto do botão de exclusão */
}

.btn-excluir:hover {
    background-color: #c82333 !important; /* Adiciona !important para garantir prioridade na cor ao passar o mouse */
 color: #fff !important;
}

.transacao-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.transacao-table th, .transacao-table td {
    border: 1px solid #c1c7c2;
    text-align: left;
    vertical-align: middle; /* Adiciona alinhamento vertical ao conteúdo da célula */
}



.add-tran {
    text-align: center;
}

.add-tran a {
    background-color:  #28a745;
    color: #fff;
}

.add-tran a:hover {
    background-color: #1f7031; /* Azul turquesa mais escuro ao passar o mouse */
    color:#fff;
}
