<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Adicionar Nova Transação</title>
  <link rel="stylesheet" th:href="@{/add-transacao-style.css}" />
</head>
<body>
<header>
<h1>Adicionar Nova Transação</h1>
</header>
<div class="add-transaction-form">
<form action="index.html" th:action="@{/transacao/add}" th:object="${transacao}" method="POST">
  <label>Data:<input type="date" th:field="*{date}" /></label><br/>
  <label>Categoria: <input type="text" th:field="*{categoria}" /></label><br/>
  <label>Descrição: <input type="text" th:field="*{descricao}" /></label><br/>
  <label>Tipo: <input type="text" th:field="*{tipo}" /></label><br/>
  <label>Valor: <input type="text" th:field="*{valorTotal}" /></label><br/>
  <button type="submit">Adicionar</button>
</form>
  <div class="back-link">
    <a class="btn" th:href="@{/index}" >Voltar para Transações</a>
  </div>

</div>
</body>
</html>
