<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Gerenciador Financeiro - Transações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/style.css}" />

</head>

<body>
<header>
    <h1>Transações Financeiras</h1>
</header>

<table class="transacao-table" >
    <thead>
    <tr>
        <th>Data</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transacoes}">
        <td th:text="${{transacao.date}}"></td>
        <td th:text="${transacao.categoria}"></td>
        <td th:text="${transacao.descricao}"></td>
        <td th:text="${transacao.tipo}"></td>
        <td th:text="${transacao.valorTotal}"></td>
        <td>
            <a th:href="@{'/edit/'+${transacao.id}}" >Editar</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="add-tran" >
    <a class="btn"  th:href="@{/add-transacao}" >Adicionar Nova Transação</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8Y+ua/Ci0TnN9f4DnxkU8Vq5U4xh+8x88l4Zl1kfbjAJFbRNI+aYoMIgx5tD" crossorigin="anonymous"></script>
</body>

</html>
