<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Gerenciador Financeiro - Transações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/style.css}" />

</head>

<body>
<header>
    <h1>Transações Financeiras</h1>
</header>

<table class="transacao-table" border="1">
    <thead>
    <tr>
        <th>Data</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transacao : ${transacoes}">
        <td th:text="${#dates.format(transacao.date, 'dd/MM/yyyy')}"></td>
        <td th:text="${transacao.categoria}"></td>
        <td th:text="${transacao.descricao}"></td>
        <td th:text="${transacao.tipo}"></td>
        <td th:text="${transacao.valorTotal}"></td>
    </tr>
    </tbody>
</table>
<div class="add-tran" >
    <a class="btn"  th:href="@{/add-transacao}" >Adicionar Nova Transação</a>
</div>

</body>

</html>
